services:
  api:
    build: ./services/api
    ports:
      - "8000:8000"
  web:
    working_dir: /app
    image: node:20-alpine
    ports:
      - "5173:5173"
    volumes:
      - ./web:/app
    command: sh -c "npm install && npm run dev -- --host"